<!DOCTYPE html>
<html lang="en" ng-app="geekcampmy2016">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="http://www.geekcamp.my/assets/images/geekcamplogo_fb.png" />
        <title>Geekcamp.MY 2016</title>
        <script src="bower_components/angular/angular.min.js"></script>
        <!-- css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="assets/css/main.css">
        <script src="assets/js/scheduleData.js"></script>
        <script src="assets/js/speakerData.js"></script>
        <!--This loads the schedule and data populators through Angular JS! -->
    </head>
    <body data-spy="scroll" data-target="#site-nav" class="">
        <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <!-- logo -->
                    <div class="site-branding">
                        <a class="logo" href="/">
                            <!-- logo image  -->
                            <img src="assets/images/geekcamplogo_small.jpg" alt="Logo">
                            Geekcamp.MY 2016
                        </a>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- /.navbar-header -->
                <div class="collapse navbar-collapse" id="navbar-items">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- navigation menu -->
                        <li class="active">
                            <a data-scroll href="#about">About</a>
                        </li>
                        <li>
                            <a data-scroll href="#speakers">Speakers</a>
                        </li>                         
                        <li>
                            <a data-scroll href="#schedule">Schedule</a>
                        </li>                         
                        <li>
                            <a data-scroll href="#sponsor">Sponsors</a>
                        </li>                         
                        <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
                        <li class="hidden">
                            <a data-scroll href="#faq">FAQ</a>
                        </li>
                        <li>
                            <a data-scroll href="#photos" class="hidden">Photos</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <header id="site-header" class="site-header valign-center"> 
            <div class="intro">
                <h2>19 March, 2016 / Makespace</h2>
                <h1>geekcamp.my 2016</h1>
                <p>Geekcamp is an unconference geared towards geeks and all things technical. The idea is to share knowledge and to learn from others in the industry.<br></p>
                <a class="btn btn-white" href="http://peatix.com/event/141005">Get Tickets</a>
                <a class="btn btn-white" href="#speakers">List of Speakers</a>
            </div>
        </header>
        <section id="about" class="section about">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="section-title">About Us</h3>
                        <p>We're a group of techies of various backgrounds and interests, in the field of hardware, software, enterprise, mobile and startups. Our common interests revolve around providing the community a platform to meet, share and learn from each other.&nbsp;</p>
                        <figure>
                            <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
                        </figure>
                    </div>
                    <!-- /.col-sm-6 -->
                    <div class="col-sm-6">
                        <h3 class="section-title multiple-title">What is Our Goal?</h3>
                        <p>This conference aims to provide a platform for sharing and networking. Topics must be technical but can be in one of many fields:</p>
                        <ul class="list-arrow-right">
                            <li>Internet of Things (IoT) / Hardware</li>
                            <li>Web / Mobile</li>
                            <li>Programming languages / frameworks / concepts</li>
                            <li>DevOps / Automation / SaaS / PaaS / IaaS</li>
                            <li>Scaling Applications / Architecture</li>
                            <li>Software Engineering &amp; Organizational Practices</li>
                            <li>Big Data / Analytics</li>
                            <li>What ever is cutting edge</li>
                        </ul>
                    </div>
                    <!-- /.col-sm-6 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </section>
        <section id="facts" class="section bg-image-1 facts text-center">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <i class="ion-ios-calendar"></i>
                        <h3>2016<br>March 19</h3>
                    </div>
                    <div class="col-sm-3">
                        <i class="ion-ios-location"></i>
                        <h3>Kuala Lumpur<br>Malaysia</h3>
                    </div>
                    <div class="col-sm-3">
                        <i class="ion-pricetags"></i>
                        <h3>150<br>Tickets</h3>
                    </div>
                    <div class="col-sm-3">
                        <i class="ion-speakerphone"></i>
                        <h3>16<br>Speakers</h3>
                    </div>
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </section>
        <section id="speakers" class="section speakers">
            <a name="speakers"></a>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Speakers</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>We have closed our Call for Presentation. Thanks for those that submit your talk.  <br></h4>
                        <div class="text-center mt20">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row speakerRow" ng-controller="SpeakerInfoController as speakerInfo">
                    <div class="col-md-4 speakerCell" ng-repeat="speakers in speakerInfo.speakers">
                        <div class="speaker">
                            <figure ng-if="speakers.picture">
                                <img alt="" class="img-responsive center-block" src="{{speakers.picture}}" style="width: 300px; height: 300px;">
                            </figure>
                            <h4>{{speakers.name}}</h4>
                            <p>{{speakers.position}}</p>
                            <p ng-if="speakers.speechtitle"><em><b>Topic: &quot;{{speakers.speechtitle}}&quot;</b></em></p>
                            <ul class="social-block">
                                <li ng-if="speakers.description">
                                    <span data-placement="bottom" data-trigger="hover" data-container="body" data-toggle="popover" data-content="{{speakers.description}}" type="button" style="cursor: pointer;"><i class="glyphicon glyphicon-info-sign"></i></span>
                                </li>
                                <li ng-if="speakers.website">
                                    <a href="{{speakers.website}}" target="_blank"><i class="glyphicon glyphicon-link"></i></a>
                                </li>
                                <li ng-if="speakers.twitter">
                                    <a href="{{speakers.twitter}}" target="_blank"><i class="ion-social-twitter"></i></a>
                                </li>
                                <li ng-if="speakers.facebook">
                                    <a href="{{speakers.facebook}}" target="_blank"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li ng-if="speakers.linkedin">
                                    <a href="{{speakers.linkedin}}" target="_blank"><i class="ion-social-linkedin-outline"></i></a>
                                </li>
                                <li ng-if="speakers.googleplus">
                                    <a href="{{speakers.googleplus}}" target="_blank"><i class="ion-social-googleplus"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.speaker -->
                    </div>
                    <!-- /.col-md-4 -->
                </div>
                <!-- /.row -->
            </div>
        </section>
        <section id="schedule" class="section schedule">
            <div class="container" ng-controller="ScheduleController as scheduler">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Event Schedule</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>There will be at least two tracks and 16 speakers.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <ul class="nav nav-pills nav-justified">
                            <li role="presentation" class="active">
                                <a href="#" aria-controls="track1" role="tab" data-toggle="tab" ng-click="scheduler.track1()">Track 1</a>
                            </li>
                            <li role="presentation">
                                <a href="#" aria-controls="track2" role="tab" data-toggle="tab" ng-click="scheduler.track2()">Track 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <table class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Title</th>
                                    <th>Speaker</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="slots in scheduler.slots">
                                    <th>{{slots.timeslot}}</th>
                                    <td>{{slots.title}}</td>
                                    <td>
                                        <a href="{{slots.speakerUrl}}" target="_blank" data-placement="right" data-trigger="hover" data-container="body" data-toggle="popover" data-content="{{slots.speakerDesc}}" type="button" style="cursor: pointer;">{{slots.speaker}}</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row hidden">
                    <div class="col-md-4 col-sm-6">
                        <div class="schedule-box">
                            <div class="time">
                                <time datetime="09:00">09:00 am</time>                                                                                                                                                                                                 - 
                                <time datetime="22:00">10:00 am</time>
                            </div>
                            <h3>Welcome and intro</h3>
                            <p>Mustafizur Khan, SD Asia</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="schedule-box">
                            <div class="time">
                                <time datetime="10:00">10:00 am</time>                                                                                                                                                                                                 - 
                                <time datetime="22:00">10:00 am</time>
                            </div>
                            <h3>Tips and share</h3>
                            <p>Mustafizur Khan, SD Asia</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="schedule-box">
                            <div class="time">
                                <time datetime="10:00">10:00 am</time>                                                                                                                                                                                                 - 
                                <time datetime="22:00">10:00 am</time>
                            </div>
                            <h3>View from the top</h3>
                            <p>Mustafizur Khan, SD Asia</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="sponsor" class="section partner">
            <div class="container hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Event Sponsors</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="text-center">Venue</h3>
                        <a class="partner-box partner-box-1"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-2"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-3"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-4"></a>
                    </div>
                </div>
                <div class="row hidden">
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-5"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-6"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-7"></a>
                    </div>
                    <div class="col-sm-3">
                        <a class="partner-box partner-box-8"></a>
                    </div>
                </div>                 
                <div class="row">
                    <div class="col-md-12">
                        <h4>We would appreciate any help from sponsors. Get in touch with us!</h4>
                    </div>
                    <div class="text-center mt20">
                        <a class="btn btn-black" id="cfp-btn" href="mailto:sponsor@geekcamp.my?Subject=Geekcamp.my 2016 Sponsorship">Become a Sponsor</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Event Partners</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="text-center">Venue</h3>
                        <a class="partner-box partner-box-1"></a>
                    </div>
                    <div class="col-sm-3">
                        <h3 class="text-center">Food</h3>
                        <a class="partner-box partner-box-2"></a>
                    </div>
                </div>
            </div>
        </section>
        <section id="faq" class="section faq hidden">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Event FAQs</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title"><a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> What is the price of the ticket ?</a></h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <h3>Hello</h3>
                                        <p>Lorem Ipsum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title"><a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> What is included in my ticket ?</a></h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">Hello</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title"><a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Office address ?</a></h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">Hello</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFour">
                                    <h4 class="panel-title"><a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> How should I dress ?</a></h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                    <div class="panel-body">Hello</div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingFive">
                                    <h4 class="panel-title"><a class="faq-toggle collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> I have specific questions that are not addressed here. Who can help me ?</a></h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                    <div class="panel-body">Hello</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section id="photos" class="section photos hidden">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-title">Photos</h3>
                    </div>
                </div>                 
            </div>
        </section>
        <section id="location" class="section location">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h3 class="section-title">Event Location</h3>
                        <address><p>Makespace<br>LG16, Quill City Mall<br>1018, Jalan Sultan Ismail,<br>50250, Kuala Lumpur<br><br></p><p>Phone:&nbsp;+60326020501<br>&nbsp;Email: team@makespace.my</p></address>
                    </div>
                    <div class="col-sm-9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.7533956538805!2d101.69760431475734!3d3.1595759976994087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc495aa1acf56d%3A0xe8486961eb323b7e!2sMakespace!5e0!3m2!1sen!2smy!4v1453620298636" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="site-info">Skin by <a href="http://technextit.com" target="_blank">Technext Limited</a></p>
                        <ul class="social-block">
                            <li>
                                <a href=""><i class="ion-social-twitter"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ion-social-facebook"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ion-social-linkedin-outline"></i></a>
                            </li>
                            <li>
                                <a href=""><i class="ion-social-googleplus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- script -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/smooth-scroll/smooth-scroll.min.js"></script>
        <script src="assets/js/main.js"></script>
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-56a58366b514b35d" async="async"></script>
    </body>
</html>
